
   $padding-xxxl: 110px;
   $padding-xxl: 60px;
   $padding-xl: 50px;
   $padding-l: 40px;
   $padding-m: 30px;
   $padding-s: 20px;
   $padding-xs: 10px;

   $margin-xxxl: 110px;
   $margin-xxl: 60px;
   $margin-xl: 50px;
   $margin-l: 40px;
   $margin-m: 30px;
   $margin-s: 20px;
   $margin-xs: 10px;

   $fs-xxl: 42px;
   $fs-xl: 32px;
   $fs-l: 24px;
   $fs-m: 20px;
   $fs-s: 18px;
   $fs-xs: 16px;
   $fs-xxs: 14px;

   $primary-text-color: #000;
   $secondary-text-color: rgba(0, 0, 0, 0.74);
   $thrid-text-color: #A86262;

   $primary-bg: #101010;
   $secondary-bg: rgba(223, 223, 223, 1);
   $thrid-bg: rgba(56, 56, 56, 1);